* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div.container {
  background-color: orange;
  position: relative;
  top: 60px;
  border: 1px solid black;
  margin:0px;
}
h1 {
  text-align: center;
}

p {
  display: block;
  margin: 0 0 0 0px;
  background-color: orange;
  text-align: left;
}
.p1 {
  background-color: blue;
  position: relative;
  left: 85%;
  border: 2px solid black;
  width: 15%;
}
@media (min-width: 992px) {
  .p2 {
    width: 33%;
  }
  #c1{
    position:absolute;
    left:66.66%;
    top:33%;
    margin:0
  }
  #c2{
    position:absolute;
    left:33.33%;
    top:33%;
    margin:0
  }
  #c3{
    position:absolute;
    top:33%;
    margin:0
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .p2{
    width:50%;
  }
  .p3 {
    width: 100%;
  }
  #c1{
    position:absolute;
    margin:0;
    width:49%;
  }
  #c2{
    position:absolute;
    left:50%;
    margin:0;
  }
  #c3{
    position:absolute;
    margin:0;
    top:200px;
  }
}
/********** small devices only **********/
@media (max-width:767px){
  .p2{
    width:100%;
  }
  #c2{
    margin:10px 0 10px 0;
  }
}